body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #404040;
    background-color: #fff;
    width: 960px;
    margin: auto;
}

nav{
    background-color:#5a5a5a;
    margin-left: 45%;
    padding: 1px 2px ;
    margin-top: -15%;
    margin-bottom: 5%;
    width: 520px;
    border-radius: 5px;
    box-shadow: 0  0 8px rgb(0,0,0,0.3);
}
nav li{
    display: inline-block;
    margin-right: 6%;

}
nav a{
    display: inline-block;
    text-decoration: none;
    color: #169fe5;
    text-transform: uppercase;
    font-weight: bold;
}
nav a:hover{
    color: white;
}
#intro img{
    box-shadow: 10px 0 10px 0px #8b8282eb;
    position: relative;
}
#image-description{
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    width:50%;
    color: white;
    background-color: rgb(0,0,0,0.3);
    background-clip: content-box;
    margin-top: -18%;
    margin-left: 9%;
}
/* TIME PASSED:45MIN*/
